#app {
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.text-nowrap {
    white-space: nowrap;
}

.item {
    justify-content: space-between;
}

[v-cloak] {
    display: none;
}

.el-radio__inner {
    border: 1px solid #409EFF;
}