<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>html5在线答题系统</title>
</head>

<body>
    <div id="app">
        <div v-cloak v-if='flag' class="font20">感谢作答</div>
        <div v-cloak v-if='!flag'>
            <div class="time">时间：
                <span style="color:red;">{{showTime}}</span>
            </div>
            <div>
                <div class="flex-row align-items">
                    <span class="text-nowrap mr10 font20">试卷名称 :</span>
                    <span class="font24">{{title}}</span>
                </div>
            </div>

            <!-- 单选题 -->
            <div class="mt20">
                <h1 class="font20">一、单选题</h1>
                <div class="mt30" v-for="(question,index) in singleQuestion" :key="index">
                    <div class="flex-row align-items">
                        <span class="font18">{{index+1}}、</span>
                        <span class="font20 text-nowrap mr10">题目 : </span>
                        <span class="font20">{{question.title}}</span>
                    </div>
                    <div class="mt20 ml20">
                        <div class="mb10 flex-row" v-for="(i,option) in question.options" :key="option">
                            <el-radio v-model.trim="question.answer" :label="option" class="mr20">{{option}}</el-radio>
                            <span class="font18">{{question.options[option]}}</span>
                        </div>
                    </div>
                    <div class="mt20 flex-row item">
                        <span style="color:red;">{{question.message}}</span>
                    </div>
                </div>
            </div>
            <!-- 单选题 -->

            <!-- 多选题 -->
            <div class="mt20">
                <h1 class="font20">二、多选题</h1>
                <div class="mt30" v-for="(question,index) in multipleQuestion" :key="index">
                    <div class="flex-row align-items">
                        <span class="font18">{{index+1}}、</span>
                        <span class="font20 text-nowrap mr10">题目 : </span>
                        <span class="font20">{{question.title}}</span>
                    </div>
                    <div class="mt20 ml20">
                        <div class="mb10 flex-row align-items" v-for="(i,option) in question.options" :key="option">
                            <el-checkbox v-model.trim="question.answer" :label="option" class="mr20">{{option}}</el-checkbox>
                            <span class="font18">{{question.options[option]}}</span>
                        </div>
                    </div>
                    <div class="mt20 flex-row item">
                        <span style="color:red;">{{question.message}}</span>
                    </div>
                </div>
            </div>
            <!-- 多选题 -->

            <!-- 判断题 -->
            <div class="mt20">
                <h1 class="font20">三、判断题</h1>
                <div class="mt30" v-for="(question,index) in judgementQuestion" :key="index">
                    <div class="flex-row align-items">
                        <span class="font18">{{index+1}}、</span>
                        <span class="font20 text-nowrap mr10">题目 : </span>
                        <span class="font20">{{question.title}}</span>
                    </div>
                    <div class="mt20 flex-row" style="margin-left:30px;">
                        <el-radio v-model.trim="question.answer" label="A" class="mr20">对</el-radio>
                        <el-radio v-model.trim="question.answer" label="B" class="mr20">错</el-radio>
                    </div>
                    <div class="mt20 flex-row item">
                        <span style="color:red;">{{question.message}}</span>
                    </div>
                </div>
            </div>
            <!-- 判断题 -->

            <!-- 简答题 -->
            <div class="mt20">
                <h1 class="font20">四、问答题</h1>
                <div class="mt30" v-for="(question,index) in answerQuestion" :key="index">
                    <div class="flex-row align-items">
                        <span class="font18">{{index+1}}、</span>
                        <span class="font20 text-nowrap mr10">题目 : </span>
                        <span class="font20">{{question.title}}</span>
                    </div>
                    <div class="mt20 flex-row" style="margin-left:30px;">
                        <el-input type="textarea" placeholder="请输入内容" v-model.trim="question.answer">
                        </el-input>
                    </div>
                    <div class="mt20 flex-row item">
                        <span style="color:red;">{{question.message}}</span>
                    </div>
                </div>
            </div>
            <!-- 简答题 -->

            <div class="mt20">
                <el-button type="primary" @click="submit">提交</el-button>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    
</script>